@model List<client_contact_management_system.Models.ClientViewModel>

<div>
    <h2>Client Information</h2>
    <button type="button" class="btn btn-primary" onclick="linkContact()" data-toggle="modal" id="linkContactButton">
        Link Contact
    </button>

    @if (Model == null || !Model.Any())
    {
        <p>No Client(s) Found.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Client Code</th>
                    <th>Linked Contacts</th>
                </tr>
            </thead>
            <tbody id="clientList">
                @foreach (var client in Model)
                {
                    <tr>
                        <td>@client.Name</td>
                        <td>@client.ClientCode</td>
                        <td>@client.Contacts</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <form id="createClientForm">
        <div class="form-group">
            <label for="clientName">Client Name:</label>
            <input type="text" class="form-control" id="clientName" name="clientName" required>
        </div>
        <div class="form-group">
            <label for="clientCode">Client Code:</label>
            <input type="text" class="form-control" id="clientCode" name="clientCode" required>
        </div>
    </form>
    <button type="button" onclick="addClient()" class="btn btn-primary">Submit</button>
  
    <div id="modalContainer"></div>
</div>

<script>
    function linkContact() {
            var url = '@Url.Action("LoadLinkContactModal")';
            $.get(url, function (data) {
                $('#modalContainer').html(data);
                $('#inputModal').modal('show');
            });
    };

    function addClient() {
        var url = '@Url.Action("CreateClient")';
        var clientData = {
            Name: $("#clientName").val(),
            ClientCode: $("#clientCode").val(),
        };

        $.post(url, clientData, function (data) {
            // Clear existing rows
            $('#clientList').empty();

            // Check if data is an array
            data.forEach(function (cl) {
                var newRow = $('<tr>')
                    .append($('<td>').text(cl.name))
                    .append($('<td>').text(cl.clientCode))
                    .append($('<td>').text(cl.contacts));

                // Append the new row to the table body
                $('#clientList').append(newRow);
            });

            console.log('Success');
            // Optionally reset the form inputs
            $('#createClientForm')[0].reset();
        }).fail(function (xhr, status, error) {
            console.error('Error occurred: ' + error);
            alert('An error occurred: ' + error);
        });
    }
</script>
